{% extends "face/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if not submitted %}
    <div class="card border-primary mb-3">
        <div class="card-header">header</div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btm btn-primary btn-lg">upload</button>
            </form>
        </div>
    </div>
{% endif %}



    {% if submitted %}
        <div class="row" label="card-holder">
        <div class="col-xl">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                    <div class="card-body">
                        <img class="img-fluid" src="{{ upload.image.url }}">
                        <h4 class="card-title">{{ upload }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                    <div class="card-body">
                        <img class="img-fluid" src="/media/train_dir/{{ sim }}">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">{{ acc }}</p>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}
