{% extends "face/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <!---
    <h2>new face</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">save</button>
    </form>
    --->
    <form method="POST" class="uni-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">upload</button>
    </form>

    {% for n in image %}
    <img class="img-responsive" src="{{ n.image.url }}">
    {% endfor %}
{% endblock content %}
